.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.btn-primary{
  background-color: #323E5B!important;
  border-color: #323E5B!important;
}
.btn-warning{
  color: white!important;
  background-color: chocolate!important;
  border-color: chocolate!important;

}

.btn-success {
  background-color: #07C75A;
  border-color: #07C75A;
  padding: 10px;
}


.bg-primary{
  background-color: #252D44!important;
}

.background {
  background-color: white;
}

.table-light{
  background-color: #FCFCFC!important;
  color: #282c34!important;
}

.navbar {
  color: blue;
}

.form{
  background-color: #FCFCFC;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding:20px;
  margin-top: 1em;
}

.return {
  margin-right: 1050px;
  padding: 10px;
  width: max-content;
  color: #FCFCFC!important;
}

.add {
  padding:10px;
  width: 300px;
}

.add , .return {
  display: inline-block;
}

.list-group-item{
  background-color: #FCFCFC!important;
}
.list-group-item:hover{
  background-color: white!important;
}

.delete-list{
  margin-left: 1300px;
  padding:10px;
  width: 100px;
}

#addId, #returnId{
  display: inline-block;
}
