.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}



.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger{
  background-color: #09d3ac;
  border-color: #09d3ac;

}

.btn-primary{
  background-color: #323E5B!important;
  border-color: #323E5B!important;
}

.btn-success {
  background-color: #07C75A;
  border-color: #07C75A;
  padding: 10px;
}


.bg-primary{
  background-color: #252D44!important;
}

.backgrundyus {
  background-color: white;
}

.table-light{
  background-color: #FCFCFC!important;
  color: #282c34!important;
}

.navbar {
  color: blue;
}

.form{
  background-color: #FCFCFC;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding:20px;
  margin-top: 1em;
}

.return {
  margin-right: 1200px;
  padding: 10px;
}

.list-group-item{
  background-color: #FCFCFC!important;
}
.list-group-item:hover{
  background-color: white!important;
}
